<html lang="en">
<head>
  <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../helpers/navbar %>
  </header>

  <main>
    <div class="page-header">
      <h1>Hi there!</h1>
      <h4 class="subheader">Aspiring UX Designer | Visual Designer</h4>
    </div>
    <div class="content">
      <img class="queen-of-computers" src="/images/bio_pic.jpg" />
      <p>My name is Korri! I was born and raised in Miami,FL and I am currently an undergraduate Human Factors Engineering student at Tufts University in the School of Engineering. I am pursuing a minor in computer science.</p>
      <p>Ultimately, I would love to use my knowledge and skills towards working in the field of User Interface (UI) and User Experience (UX) design. I have a background in product and graphic design, and have always been very passionate about user-centered research and designing to improve usability, form, and function of everyday products and interfaces.</p>
    </div>
  </main>
</body>
</html>
