<html lang="en">
<head>
    <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../helpers/navbar %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Korri A. Lampedusa</h1>
      <p>Welcome to my website!</p>
      <p><a class="btn btn-primary btn-lg" href="https://github.com/zsobin/PersonalWebApp" target="_blank" role="button">Repository!</a></p>
    </div>
    <div class="tina-gif">
      <iframe src="https://giphy.com/embed/3oEduV4SOS9mmmIOkw" width="480" height="288" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/cheezburger-pokemon-pikachu-3oEduV4SOS9mmmIOkw">via GIPHY</a></p>
      <p>
        <a href="http://gph.is/1ypm1wD">
          via GIPHY
        </a>
      </p>
    </div>
  </main>

</body>
</html>
