<html lang="en">
<head>
    <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../helpers/navbar %>
  </header>

  <main>
    <div class="title_p">
      
      <h1>Korri A. Lampedusa</h1>
      <p>Welcome to my website!</p>


    </div>
  </main>

</body>
</html>
