<html lang="en">
<head>
    <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../helpers/navbar %>
  </header>

  <main>
    <div class="page-header">
      <h1>Look what I did!</h1>
      <h4 class="subheader">Disclaimer: PAGE NOT DONE !h4>
    </div>
    <div class="container">
      <div class="code-container">
        <img src="/images/SIS.png"/>
        <div>
          <h3>Tufts Student Information System UI re-design</h3>
          <p>A group project from ENP0064 (Intro to Human Factors). We redesigned the class selection pages on SiS. The old system was difficult to use, with aesthetic and functional updates, we propose a solution!</p>
      </div>
    </div>
    <div class="code-container">
      <img src="/images/code.png"/>
      <div>
        <h3>2048 project</h3>
        <p>Programmed implementation of the game 2048, can run on standard UNIX terminal with user input. Final project from intro to computer science, Fall 2018!</p>
      </div>
    </div>
  </main>
</body>
</html>
